/* parte box */
.box-padding-image {
    background: #F5F5F5;
    border-radius: 8px;
    margin: 54px 95px 73px 90px;
}

.box-padding-content {
    display: flex;
}

.image-loader {
    width: 280px;
    height: 280px;
}

.info-loader {
    margin-top: 25px;
    margin-left: -45px;
}